<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Responsive HTML5 Website Template for Developers | 3rd Wave Media</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website landing Page for Developers">
    <meta name="author" content="3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <!-- github acitivity css -->
    <link rel="stylesheet" href="assets/plugins/github-activity/dist/github-activity-0.1.0.min.css">
    <link rel="stylesheet" href="assets/plugins/github-activity/dist/octicons/octions.min.css">
    
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            
            <%= link_to(image_tag("profile.png", class: "logo", alt: "", title: "Home"), root_path, class: "navbar-brand page-scroll") %>
            <div class="profile-content pull-left">
                <h1 class="name">Ioannis Demertzidis</h1>
                <h2 class="desc">Web App Developer</h2>
                <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li> 
                    <li><a href="#"><i class="fa fa-slack"></i></a></li>    
                </ul> 
            </div><!--//profile-->
                            <a class="btn btn-cta-primary pull-right" href="github.com/" target="_blank"><i class="fa fa-github-alt"></i> Contribute </a>       
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Us</h2>
                        <div class="content">
                            <p>Write a brief intro about you.</p>    
     
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Current Working</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title"><a href="mistiko.herokuapp.com" target="_blank">Mistiko - Tell your secret public</a></h3>
                                <p class="summary"> Co-developer | <span class="sr-only">Kostas kiou:</span><a href="http://www.kostaskiou.me">kostas kiou</a></p>
                                <div class="featured-image">
                                    <%= link_to(image_tag("projects/project-featured.png", class: "img-responsive project-image", alt: "project name", title: "Home"), href="http://mistiko.gr", class: "img-responsive project-image") %>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                        </div>
                                    </div>
                                    
                                <div class="desc text-left">                      <p>An old concept "back to work"</p>

                                </div><!--//desc-->         
                                <a class="btn btn-cta-secondary" href="http://google.com/" target="_blank"><i class="fa fa-thumbs-o-up"></i> Back our project</a><p class="summary">* Android/RoR developers join us <a href="github.com">here</a></p>               
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <hr class="divider" />
                            <div class="item row">

                            <%= link_to(image_tag("projects/railstheme.png", class: "col-md-4 col-sm-4 col-xs-1", alt: "railstheme", title: "Home"), href="http://railstheme.com", class: "img-responsive project-image")%>

                        
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://railstheme.com/" target="_blank">RailsTheme - Marketplace for premium ROR apps themes</a></h3>
                                    <p>All themes provide a bunch of_handy helpers for use in your views and build things quickly. Easy integrate with popular Gems right out the box, such  kaminari and simple_form ,as devise, will_paginate,..</p>
                                    <p><a class="more-link" href="http://railstheme.com/" target="_blank"><i class="fa fa-external-link"></i>Check It</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->




                            <%= link_to(image_tag("projects/minijobs.png", class: "col-md-4 col-sm-4 col-xs-1", alt: "minijobs", title: "Home"), href="http://railstheme.com", class: "img-responsive project-image")%>

                        
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://railstheme.com/" target="_blank">Minijobs - Find the correct people for your minijob.</a></h3>
                                    <p>All themes provide a bunch of_handy helpers for use in your views and build things quickly. Easy integrate with popular Gems right out the box, such  kaminari and simple_form ,as devise, will_paginate,..</p>
                                    <p><a class="more-link" href="http://railstheme.com/" target="_blank"><i class="fa fa-external-link"></i>Check It</a></p><a class="btn btn-cta-secondary pull-right" href="http://google.com/" target="_blank"><i class="fa fa-thumbs-o-up"></i> Contribute</a><p class="summary pull-right">* and gain <a href="#">influence</a></p>  
                                </div><!--//desc-->                          
                            </div><!--//item-->


                            <%= link_to(image_tag("projects/axilios.png", class: "col-md-4 col-sm-4 col-xs-1", alt: "kickstartup", title: "kickstartup"), href="http://kickstartup.gr", class: "img-responsive project-image")%> <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://kickstartup.gr/" target="_blank">Kickstartup</a></h3>
                                    <p>Professional profile creating platform and skills certification.</p>
                                    <p><a class="more-link" href="http://railstheme.com/" target="_blank"><i class="fa fa-external-link"></i>You can't check It</a>
                                                       
                            </div><!--//item-->



                                                    
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                <br><br><br><br>
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>
                        <p>You can embed your GitHub activities using Casey Scarborough's <a href="http://caseyscarborough.com/projects/github-activity/" target="_blank">GitHub Activity Stream</a> widget.        
                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->                       
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->

                                            <%= link_to(image_tag("projects/ptolemaidaout.jpg", class: "col-md-4 col-sm-4 col-xs-1", alt: "ptolemaidaout", title: "ptolemaidaout"), href="http://ptolemaidaout.gr", class: "img-responsive project-image")%> <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://ptolemaidaout.gr/" target="_blank">Ptolemaidaout</a></h3>
                                    <p>All about nightlife in Ptolemaida</p>
                                    <p><a class="more-link" href="http://railstheme.com/" target="_blank"><i class="fa fa-external-link"></i>You can't check It</a>
                                                       
                            </div><!--//item-->
                            <br><br><br><br>

                                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                            <div class="content">
                            <div class="item">
                                <h3 class="title">Founder - <span class="place">Ptolemaidaout</span> <span class="year">(Dec 2010 - Mar 2014)</span></h3>
                                <p>Overall responsibility for the development, management and coordination of <a href="ptolemaidaout.gr" target="_blank">Ptolemaidaout</a></p>
                            </div><!--//item-->
                                                       
                            <div class="item">
                                <h3 class="title">Trainee - <span class="place"><a href="#" target="_blank">Support Plus </a></span> <span class="year">(Oct 2013 - Apr 2014)</span></h3>
                                <p>Website development - Desktop/laptop Support</p>
                            </div><!--//item-->

                                            <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Competitions</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><img src="assets/projects/ennovation_p_L.png" alt="e-nnovation 2013" />Semifinals</h3>
                                <p class="summary">6ο International student competition on Digital Entrepreneurship, Innovation and e-Business.</p>
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->        
                        <h2 class="heading">Future Concepts</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><a href="#">First Concept</a> <span class="label label-theme">Open Source</span></h3>
                                <p class="summary">Provide an elevator pitch for the concept.+ inspired by<a href="http://google.com/" target="_blank">CSS Tricks</a></p>
                                <p><a class="more-link" href="http://google.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank"><i class="fa fa-chevron-right"></i><i class="fa fa-thumbs-o-up"></i> Give it a hug</a></p>
                                <p>*Our like system</p>
                            </div><!--//item-->
                            <a class="btn btn-cta-secondary" href="#">I want to be part of the next bing thing ;)</a>
                            
                        </div><!--//content-->             
                </section><!--//section-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Ptolemaida, Kozani, GR</li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://www.matrixthinker.com">matrixthinker.com</a><p><a class="more-link" href="http://new-talent-times.softwareadvice.com/the-dream-team-the-matrix-thinker-0913/"><i class="fa fa-external-link">&nbsp;&nbsp;</i>Learn More</a></p> </li>

                                                <aside class="credits aside section">
                    <div class="section-inner">
                        <h2 class="heading">Team</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                 2 photo
                            </ul>
                            
                            <hr/>
                            <a class="btn btn-cta-secondary btn-follow" href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i> Find Us</a>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                Intro about your skills goes here. Keep the list lean and only show your primary skillset. You can always provide a link to your Linkedin or Coderwall profile so people can get more info there.</p>
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Joomla<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="more info...">Mid</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="55%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Adobe Photoshop<span class="level-label">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="45%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Brainstorming<span class="level-label"data-toggle="tooltip" data-placement="left" data-animation="true" title="Al lot of brainstorming for several concepts.">A lot</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="82%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Ruby on Rails<span class="level-label"data-toggle="tooltip" data-placement="left" data-animation="true" title="Actively learning.">Baby Steps</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="10%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Coderwall</a></p> 
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Computer Science and Engineering Dept</h3>
                                <h4 class="university">TEI of Thessaly <span class="year">(2015)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                
                <aside class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                        
                        <% @posts.each do |post| %>
                          
                            <h2 class="title"><%= link_to post.title, post %></h2>
                            <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
                          
                        <% end %>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                                <aside class="testimonials aside section">
                    <div class="section-inner">
                        <h2 class="heading">Interests</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fa fa-quote-left"></i> The grandeur of space, inspire people & get inspired, reading about new technologies & startups, brainstorming on web apps.</p>
                                </blockquote>                               
                            </div><!--//item-->
                            
                            <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Linkedin</a></p> 
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>Greek:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Limited working proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></i></span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-headphones"></i> <a href="http://www.merriam-webster.com/dictionary/silence">Silence</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> <a href="devitconf.org" target="_blank">DEVit Conference 2015</a> (Thessaloniki)</li>
                                <li><i class="fa fa-calendar"></i> <a href="http://www.info-com.gr/">15ο Infocom World 2013</a> (Athens)</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                

              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div>

    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by Xiaoying Riley for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script> 
    <!-- github activity plugin -->
    <script type="text/javascript" src="assets/plugins/github-activity/dist/mustache/mustache.min.js"></script>
    <script type="text/javascript" src="assets/plugins/github-activity/dist/github-activity-0.1.0.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>            
</body>
</html> 

